@import "tailwindcss";

:root {
  --primary_blue: #2f80ed;
  --secondery: #eaa71c;
  --primary_dash: #38444f;
  --secondery_dash: #1f2937;
  --thired_dash: #131720;
  --fourth_color: #151f30;
  --main_bg: #131720;
  --second_text: #94a3b8;
  --light_text: #7d8185;
  --success: #28a745;
  --secondery-green: #01c7c4;
  --danger: #dc3545;
  --warning: #ffc107;
  --sec-text: #191e24;
  --info: #17a2b8;
  --purble: #6b56f9;
}

@theme inline {
  --color-primary_blue: var(--primary_blue);
  --color-secondery: var(--secondery);
  --color-primary_dash: var(--primary_dash);
  --color-secondery_dash: var(--secondery_dash);
  --color-fourth_color: var(--fourth_color);
  --color-sec-text: var(--sec-text);
  --color-thired_dash: var(--thired_dash);
  --color-main_bg: var(--main_bg);
  --color-second_text: var(--second_text);
  --color-light_text: var(--light_text);
  --color-success: var(--success);
  --color-secondery-green: var(--secondery-green);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-purble: var(--purble);
  --breakpoint-3xl: 1800px;
  --color-secondary: var(--secondary);
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --breakpoint-3xl: 1680px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db;
}

::-webkit-scrollbar-track {
  background-color: var(--fourth_color);
  /* لون الخلفية */
}

@layer components {
  .custom-container {
    @apply xl:w-[80%] lg:w-[95%] w-[95%] mx-auto p-4 max-md:p-2;
  }
}

body {
  background: var(--main_bg);
}

a,
button {
  cursor: pointer;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
